*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fafbfc;
    font-family: "Inter";
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    font-size: 0;
}

/* Header */

#header {
    padding: 4rem 10rem;
}

.logo {
    height: auto;
    width: 18.2rem;
    display: inline-block;
    vertical-align: middle;
}

.navigation {
    width: calc(100% - 18.2rem);
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.navigation-links {
    display: inline-block;
    margin-right: 5rem;
}

.navigation-links li {
    display: inline-block;
}

.navigation-links li:not(:last-child) {
    margin-right: 5rem;
}

.navigation-links a {
    color: #8a94a6;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
}

.navigation-action {
    display: inline-block;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    height: 4.5rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    padding-left: 3.3rem;
    padding-right: 3.3rem;
    color: #ffffff;
    background-color: #377dff;
}

/* Hero section */

.hero-section {
    background: #fafbfc;
    padding: 12rem 10rem;
}

.heading-1 {
    color: #323b4b;
    font-size: 6rem;
    font-weight: 700;
    line-height: 7.3rem;
}

h1 {
    text-align: center;
    margin-bottom: 3.5rem;
}
.text-l {
    color: #8a94a6;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3.5rem;
    width: 65%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5.6rem;
}
.hero-content {
    width: calc((100% - 6.4rem) / 3);
    border-radius: 1.5rem;
    background: #fff;
    padding: 4.1rem 3.1rem;
    display: inline-block;
    vertical-align: top;
}

.hero-content:not(:last-child) {
    margin-right: 3.2rem;
}

.hero-contents .icon {
    width: auto;
    height: 8rem;
    margin-bottom: 3rem;
}

.heading-2 {
    color: #323b4b;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.4rem;
}

.hero-contents .heading-2 {
    margin-bottom: 2.1rem;
}
.text-m {
    color: #8a94a6;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3rem;
}

.hero-contents .text-m {
    text-align: left;
    margin-bottom: 1.6rem;
}

.hero-contents a {
    font-weight: 600;
    line-height: 2.4rem;
    margin-right: 1rem;
    color: #377dff;
    font-size: 2rem;
}

.arrow-right {
    width: 2rem;
    height: 1.6rem;
}
